* {
	margin:0; 
	padding:0;
}

body{
	font-family: sans-serif;
	display: inline;
	margin:0px;
	padding: 0px;
}

#main_title{
	top: 0;
	left: 0;
	background: url(background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main_hot{
	top: 100%;
	left: 0;
	background: url(hot_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main_classic{
	top: 200%;
	left: 0;
	background: url(classic_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main_jp{
	top: 300%;
	left: 0;
	background: url(jp_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.big_free_tile{
	position: absolute;
	width: 100%;
	height: 100%;
}

.centr{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	text-align: center;
	height: 10%;
	font-size: 55pt;
	color: white;
	text-shadow: 3px 2px 3px #000000;
	font-weight: 600; 
	//background-color: red;
}

.need_buy{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 8%;
	font-weight: 520;
	color: #DCDCDC;
	text-shadow: 3px 2px 3px #000000;
	font-size: 20pt;
    /*-webkit-transition: all 1s linear; 
    -moz-transition: all 1s linear; 
    transition: all 1s linear;*/
    -webkit-animation: ani_nb .6s infinite alternate;
    -moz-animation: ani_nb .6s infinite alternate;
	animation: ani_nb .6s infinite alternate;
}

.nb1{
	font-size: 25pt;
}

@-webkit-keyframes ani_nb {
    0% {bottom: 11%;} 
    100% {bottom: 8%;}
}
@-moz-keyframes ani_nb {
    0% {bottom: 11%;} 
    100% {bottom: 8%;}
}
@keyframes ani_nb {
    0% {bottom: 11%;} 
    100% {bottom: 8%;}
}

.left_title{
	position: absolute;
	top: 4%;
	left: 3.5%;
	margin: auto;
	width: 90%;
	//text-align: left;
	height: 10%;
	font-size: 55pt;
	color: white;
	text-shadow: 3px 2px 3px #000000;
	font-weight: 600; 
	//background-color: green;
}

.center_box_table{
	position: absolute;
	right: 10%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 65%;
	width: 90%;
	//background-color: lime;
	display: inline;


}

.product_box{
	position: relative;
	background-color: white;
	box-shadow: 3px 2px 3px #000000;
	width: 18.75%;
	height: 30%;
}

.dpic2{
	position: relative;
	background-color: white;
	box-shadow: 3px 2px 3px #000000;
	width: 160px;
	height: 160px;
	margin: 10px;
	padding: 5px;
}

.dpic{
	position: absolute;
	background: url(no_image.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 128px;
   	height: 128px;
   	white-space: nowrap;

}

